[Desktop Entry]
Version=1.0
Name=Ungoogled Chromium
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Exec=/usr/bin/chromium --enable-features=WebUIDarkMode --force-dark-mode --flag-switches-begin --disable-search-engine-collection --extension-mime-request-handling=always-prompt-for-install --fingerprinting-canvas-image-data-noise --fingerprinting-canvas-measuretext-noise --fingerprinting-client-rects-noise --keep-old-history --popups-to-tabs --pull-to-refresh=1 --scroll-tabs=never --show-avatar-button=never --enable-features=WebUIDarkMode,CopyLinkToText,HeavyAdIntervention,HeavyAdPrivacyMitigations,TabSearch --disable-features=SharingHubDesktopAppMenu,SharingHubDesktopOmnibox,SharingQRCodeGenerator --flag-switches-end %U
StartupNotify=true
Terminal=false
Icon=chromium
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/chromium --enable-features=WebUIDarkMode --force-dark-mode --flag-switches-begin --disable-search-engine-collection --extension-mime-request-handling=always-prompt-for-install --fingerprinting-canvas-image-data-noise --fingerprinting-canvas-measuretext-noise --fingerprinting-client-rects-noise --keep-old-history --popups-to-tabs --pull-to-refresh=1 --scroll-tabs=never --show-avatar-button=never --enable-features=WebUIDarkMode,CopyLinkToText,HeavyAdIntervention,HeavyAdPrivacyMitigations,TabSearch --disable-features=SharingHubDesktopAppMenu,SharingHubDesktopOmnibox,SharingQRCodeGenerator --flag-switches-end

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/chromium --enable-features=WebUIDarkMode --force-dark-mode --flag-switches-begin --disable-search-engine-collection --extension-mime-request-handling=always-prompt-for-install --fingerprinting-canvas-image-data-noise --fingerprinting-canvas-measuretext-noise --fingerprinting-client-rects-noise --keep-old-history --popups-to-tabs --pull-to-refresh=1 --scroll-tabs=never --show-avatar-button=never --enable-features=WebUIDarkMode,CopyLinkToText,HeavyAdIntervention,HeavyAdPrivacyMitigations,TabSearch --disable-features=SharingHubDesktopAppMenu,SharingHubDesktopOmnibox,SharingQRCodeGenerator --flag-switches-end --incognito
